
$defaut-font: "Myriad Pro";

/* size */
$max-width: 2200px;
$mobile-width: 768px;
$defaut-font-size: 16px;

/* color */
$background-color: white;
$defaut-font-color: black;
$defaut-link-color: red;
$defaut-link-color-hover: black;
$background-cookie-law : white;
$font-color-cookie-law : black;
$background-button : red;
$background-button-hover : black;
$button-font-color: white;
$input-placeholder : gray;
$color-error : red;
$color-infos : #1E90FF;

$border-input : black;
$border-input-error : $color-error;
$border-input-focus : #1E90FF;
$background-input-error : #ffcccb;

$menu-mobile-colorlink : black;
$menu-mobile-background : white;

$red : red;